@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

html {
  color-scheme: dark light;
}

body {
  background-color: #08212f;
}

.overflow {
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ddd;
}

a:hover {
  color: #999;
}

h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: rgba(11, 49, 68, 0.8);
}

.desktop-nav {
  margin-right: 154px;
  display: flex;
  justify-content: space-between;
}

.nav-links {
  color: #ddd;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 12px;
  margin-left: 32px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

#brand {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: #ddd;
  margin-left: 24px;
}

.menu-bars {
  z-index: 100;
  display: inline;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 36px;
}

.bar1,
.bar2,
.bar3 {
  width: 18px;
  height: 2px;
  background-color: #ddd;
  margin-bottom: 5px;
  transition: 0.5s;
}

.change .bar1 {
  transform: rotate(45deg) translateY(10px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(-45deg) translateY(-10px);
}

.overlay {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(11, 49, 68, 0.7);
  backdrop-filter: blur(5px);
  transition: 0.6s;
}

.overlay-slide-right {
  transform: translateX(0);
}

.overlay-slide-left {
  transform: translateX(100vw);
}

.mobile-nav-items {
  margin-left: 28px;
}

#nav-1,
#nav-2,
#nav-3 {
  margin-bottom: 40px;
}

.nav-mobile-links {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #ddd;
}

.headline {
  display: flex;
  flex-direction: column;
  padding: 0 24px 114px 24px;
}

.headline-title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #ddd;
  margin: 206px 24px 12px 24px;
  -webkit-animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.headline-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0 24px 12px 24px;
  color: #888;
}

.connect {
  margin-left: 24px;
  margin-bottom: 12px;
}

.social-icons {
  width: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.headline-social {
  margin-left: 24px;
}

.works {
  margin-top: 114px;
  margin-left: 24px;
  margin-right: 24px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 25px;
}

.works-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.work-img {
  width: 400px;
  height: 350px;
}

.card-img {
  margin: 16px;
}

.card-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 12px;
  margin-left: 16px;
}

.card-details {
  display: flex;
  align-items: center;
  margin-top: 20px;
  list-style: none;
}

.company {
  margin-right: 12px;
  margin-left: 16px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.circle {
  margin-right: 12px;
}

.job {
  margin-right: 12px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.year {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.card-info {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: 20px;
  margin-right: 16px;
  margin-left: 16px;
}

.tags {
  display: flex;
  margin-top: 12px;
  list-style: none;
  margin-left: 16px;
}

.tag {
  padding: 4px 12px;
  background: #999;
  border-radius: 8px;
  margin-right: 8px;
  color: #ddd;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.btn {
  color: #000;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  padding: 12px;
  border: 2px solid #000;
  border-radius: 8px;
  margin-bottom: 28px;
  background: none;
  cursor: pointer;
  background-color: #fff;
  transition-property: all;
  transition-duration: 0.9s;
}

.btn:hover {
  background: #08212f;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.24);
  color: #fff;
}

.btn img {
  filter: brightness(100%);
  transition-duration: 0.9s;
  margin-left: 13px;
}

.btn:hover img {
  filter: brightness(300%);
}

.btn:active {
  background: #2230d2;
}

.btn:disabled {
  border: 1px solid #c1c7d0;
  background: #fff;
  color: #5e6c84;
}

.card-button {
  margin-left: 16px;
  margin-top: 24px;
  width: 124px;
}

.modal-window {
  z-index: 101;
  position: fixed;
  padding: 60px 16px 50px 16px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  backdrop-filter: blur(3px);
  background-color: rgba(193, 199, 208, 0.3);
}

.modal-window.hidden {
  display: none;
}

.modal {
  background-color: #ddd;
  border-radius: 16px;
  margin-bottom: 50px;
}

.modal > .card-details {
  margin-left: 10px;
}

.modal-header {
  border-radius: 16px;
  padding-top: 24px;
  margin-left: 24px;
  display: flex;
  justify-content: space-between;
}

.modal-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.close {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-right: 32px;
}

.modal-image {
  display: flex;
  padding-top: 36px;
}

.modal-img {
  margin: 0 auto;
  width: 70%;
  height: auto;
}

.modal-texts {
  display: flex;
  flex-direction: column;
  padding: 12px 16px 12px 16px;
}

.modal-work-info {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  border-radius: 16px;
}

.tag-btns {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
}

.github-tag,
.ruby-tag,
.bootstrap-tag {
  display: none;
}

.modal-tags {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.modal-btns {
  display: flex;
  justify-content: space-evenly;
  margin-right: 20px;
}

.about-me {
  display: flex;
  flex-direction: column;
}

.about-me-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
  margin-top: 114px;
  margin-left: 24px;
  margin-right: 24px;
}

.about-me-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #ddd;
}

.about-me-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ddd;
}

.resume-button {
  width: 162px;
  height: 48px;
}

.about-me-list {
  margin-top: 36px;
  margin-left: 24px;
  margin-right: 24px;
}

.skills {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.skill-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skill-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ddd;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 12px;
}

.languages {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 5px;
}

.language {
  display: flex;
  align-items: center;
  background-color: #ddd;
  border-radius: 8px;
  padding: 5px;
}

.modal-hr {
  padding-top: 21px;
  border-top: 1px solid #dfe1e6;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-heading {
  color: #ddd;
  margin: 20px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.contact-text {
  margin-bottom: 55px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-left: 24px;
  margin-right: 24px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

label {
  display: none;
}

.contact-element {
  padding: 15px 38px 15px 16px;
  margin-bottom: 20px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 327px;
  height: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

textarea {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 327px;
  height: 170px;
  padding: 15px 38px 15px 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
}

#error-message {
  padding: 2px;
  margin-bottom: 5px;
  color: #f00;
  font-size: 15px;
  float: left;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
}

.contact-btn {
  float: left;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  height: 48px;
  width: 140px;
  background-color: #fff;
  padding: 12px 16px 12px 16px;
}

@media only screen and (max-width: 768px) {
  .desktop {
    display: none;
  }

  a:hover {
    color: #ddd;
  }
}

@media only screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  header {
    filter: drop-shadow(0 0 16px rgba(0, 0, 0, 0.5));
  }

  .overlay {
    display: none;
  }

  .nav-links {
    color: #ddd;
  }

  .headline {
    display: flex;
    flex-direction: column;
  }

  .headline-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
    margin: 300px 0 12px 260px;
    -webkit-animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
      both;
    animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }

  .headline-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin: 0 260px 12px 260px;
  }

  .connect {
    margin: 0 0 16px 260px;
  }

  .headline-social {
    margin: 0 260px;
  }

  .works {
    display: flex;
    flex-direction: column;
  }

  .works-card {
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    background-color: #ddd;
    height: 496px;
    width: 1156px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 2px 4px,
      rgba(0, 0, 0, 0.7) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  .work-img {
    width: 544px;
    height: 448px;
  }

  .card-img {
    margin-left: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .card-text {
    width: 544px;
    height: 445px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
  }

  .card-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .company {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .job,
  .year {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .card-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .card-reverse {
    flex-direction: row-reverse;
  }

  .modal-window {
    padding: 77px 142px;
  }

  .modal-title {
    font-size: 40px;
    line-height: 52px;
  }

  .modal-texts {
    display: flex;
    flex-direction: row;
    padding-top: 59px;
    padding-bottom: 59px;
    border-radius: 16px;
  }

  .modal-info {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    width: 55%;
    margin-left: 24px;
  }

  .modal-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .tag-btns {
    margin-left: 24px;
  }

  .github-tag,
  .ruby-tag,
  .bootstrap-tag {
    display: block;
  }

  .about-me {
    display: flex;
    flex-direction: row;
    height: 924px;
  }

  .about-me-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
    width: 447px;
    height: 392px;
    margin: 142px 37px 134px 142px;
  }

  .about-me-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .about-me-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .about-me-list {
    margin-top: 142px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .skill-item {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }

  .languages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .language {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 100px;
    justify-content: center;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-text {
    width: 569px;
  }

  .contact-element,
  textarea {
    width: 447px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #error-message {
    padding: 2px;
    margin-bottom: 5px;
    color: #f00;
    font-size: 18px;
    float: left;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #cfd8dc;
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
